.toolbar {
  padding: 35px 40px;
  font-weight: 600;
  font-size: 25px;
  background-color: rgb(255, 255, 227);
  display: flex;
}

.btn-login {
  background-color: lightyellow;
  color: black;
  margin-right: 15px;
}

.btn-register {
  background-color: rgb(237, 203, 7);
  color: white;
}

.btn-group {
  margin-left: auto;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.2s ease;
}

a:hover {
  color: rgb(64, 129, 145);
}
