<mat-toolbar class="toolbar">
  <span><a routerLink="blogs">BLOGGED</a></span>
  <div class="btn-group" *ngIf="!hasLocalStorageValue()">
    <a mat-fab extended class="btn-login" routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </a>
    <a mat-fab extended class="btn-register" routerLink="signup">
      <mat-icon>perm_identity</mat-icon>
      Signup
    </a>
  </div>
  <div class="btn-group" *ngIf="hasLocalStorageValue()">
    <a mat-fab extended class="btn-creat-post" routerLink="createPost">
      <mat-icon>add</mat-icon>
      Create Post
    </a>
    <button mat-fab extended class="btn-login" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
