<mat-toolbar color="primary">
  <span>BLOG</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent">login</button>
  <button mat-raised-button color="warn">signup</button>
</mat-toolbar>

<div class="blog-container">
  <mat-card class="blog-item" *ngFor="let post of posts">
    <div class="image-container">
      <img mat-card-image [src]="post.mainImage" alt="Post Image" />
    </div>
    <mat-card-content>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <p>{{ post.content }}</p>
    </mat-card-content>
  </mat-card>

  <mat-paginator
    [length]="totalPosts"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
